tyloo-tutorial-sample/tyloo-sample-domain/tyloo-sample-order/src/main/resources/config/spring/local/appcontext-service-dao.xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.springframework.org/schema/beans" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="beans" type="bean:beansType" xmlns:bean="http://www.springframework.org/schema/beans"/>
  <xs:complexType name="propertyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="ref" use="optional"/>
        <xs:attribute type="xs:string" name="value" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="beanType">
    <xs:sequence>
      <xs:element type="bean:propertyType" name="property" maxOccurs="unbounded" minOccurs="0" xmlns:bean="http://www.springframework.org/schema/beans"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="class" use="optional"/>
  </xs:complexType>
  <xs:complexType name="beansType">
    <xs:sequence>
      <xs:element ref="con:component-scan" xmlns:con="http://www.springframework.org/schema/context"/>
      <xs:element type="bean:beanType" name="bean" maxOccurs="unbounded" minOccurs="0" xmlns:bean="http://www.springframework.org/schema/beans"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>